
$white: #fff;
$light-gray:  rgba(164, 161, 161, 0.9);
$middle-gray:  rgba(114, 114, 114, 0.9);;
$dark-gray:  #242428;
$almost-black: rgba(0,0,0,0.75);

$noen-blue: #4BCDF5;
$neon-pink: #FF33CC;

$deep-orange: #fc5200;