.course-show-page {
  display: flex;
  padding-top: 58px;
  height: 1vh;
  background-color: $bg-white;
}

.course-show-container {
  margin: 30px auto;
}

.course-show-head {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  .course-show-title {
    display: flex;
    gap: 1em;

    h1 {
      font-size: 34px;
      font-weight: 700;
    }
    svg {
      color: $dark-gray;
      height: 30px;
      width: 30px;
    }
  }
}

.course-show-buttons {
  display: flex;
  gap: 3.5px;
  height: 29px;
  
  .show-button {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 6px 12px;
    border: 1px solid #dfdfe8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
  }

  .show-button:hover {
    background-color: #f0f0f5;;
    color: black;
  }
}

.course-show-body {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.show-map-div {
  width: 600px;
  height: 450px;
  box-shadow: 0px 8px 24px $shadow;
  border-radius: 4px;
}

.course-show-info {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2em;
  
  padding: 1em;
  box-shadow: 0px 8px 24px $shadow;
  border-radius: 4px;
}

.course-show-info-head {
  display: flex;
  gap: 1em;
}

.show-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.course-creation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .show-creator {
    color: #242428;
    font-size: 22px;
  }

  .show-created {
    color: $middle-gray;
    font-size: 12px;
  }
}

.course-show-stats {
  display: flex;
  gap: 24px;

  label {
    font-size: 12px;
    font-weight: 400;
    color: #494950;

    div {
      color: #242428;
      font-size: 20px;
    }
  }
}

.course-show-description {
  font-size: 14px;
  color: #242428;
}

@media (max-width: 990px) {
  .course-show-container {
    width: 100%;
    max-width: 800px;
    padding: 0 1em;
  }

  .course-show-info {
    display: none;
  }

  .show-map-div {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .course-show-info {
    width: 325px;
  }

  .show-map-div {
    width: 750px;
  }
}