.profile-container {
  display: flex;
  justify-content: center;
  background-color: $bg-white;
  min-height: 100vh;
}

.profile {
  padding: 88px 1em 0 1em;
  background-color: $bg-white;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;

  .profile-head {
    // background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 575px;
    position: relative;
  }

  // .profile-head::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -1em;
  //   left: 0;
  //   height: 1px;
  //   width: 100%;
  //   background: $light-gray;
  // }

  .profile-content {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
  }

  img {
    height: 132px;
    width: 132px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .location-container {
    gap: 4px;
    color: $dark-gray;

    svg {
      color: $middle-gray;
    }
  }

  .location-tag {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bio {
    margin-top: 20px;
    width: 380px;
    font-size: 15px;
    line-height: 18px;

    // .unknown-bio {
    //   display: flex;
    //   align-items: flex-end;
    // }

    svg {
      color: $middle-gray;
      height: 20px;
      width: 20px;
      margin-left: 10px;
    }
  }

  .profile-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .all-time {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    .time-began {
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .time-num {
      font-size: 72px;
      font-weight: 700;
    }

    .after-time {
      color: $middle-gray;
      font-size: 16px;
      margin-top: 3px;
      width: 100px;
    }
  }

  .profile-feed::before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(164, 161, 161, 0.9);
  }

  .profile-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
  }

  .no-courses-yet {
    color: $middle-gray;
    font-size: 20px;
    margin-top: 30px;
  }

  .dash-item-head {
    display: none;
  }
  
  @media (max-width: 600px) {
    .all-time {
      display: none;
    }
  }
}