.splash {
  display: flex;
  flex-direction: column;
}

//title
.splash-title {
  text-align: center;
  background-color: white;
  color: rgb(29, 29, 29);
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 48px;
  font-family: sans-serif;
}

.splash-content {
  display: flex;
  justify-self: center;
  margin: auto;
}

.splash-image {
  width: 450px;
  height: 480px;
  margin-right: 20px;
}

.splash-right {
  display: flex;
  flex-direction: column;
}

.splash-button-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 100px;
}

.splash-button {
  background-color: rgb(255, 255, 255);
  width: 245px;
  height: 55px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 55px;
  font-family: sans-serif;
  border: 1px solid #cbcbd0;
}

.splash-button:hover {
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
}

.splash-demo-button {
  background-color: $deep-orange;
  color: $white;
  font-size: 18px;
  border: 1px solid $deep-orange;
}

.splash-demo-button:hover {
  background-color: #d34600;
  border: 1px solid $deep-orange;
}

.button-subtitle {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(70, 70, 70);
}

//footer
.footer {
  display: flex;
  margin-top: 50px;
  background-color: #242428;
  color: #fff;
  font-size: 10px;
  height: 120px;
  padding-left: 2em;
}

.footer-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .footer-logo {
//   color: white;
//   font-family: sans-serif;
//   font-size: 25px;
//   font-weight: bold;
// }

// .copyright {
//   color: #666;
//   font-family: sans-serif;
//   font-size: 10px;
//   font-weight: 200;
// }

.footer-logo {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 5%;
  bottom: -5%;
}

.copyright {
  color: #666;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 200;
  position: relative;
  left: 5%;
  bottom: -9%;
} 